<div class="col-12 col-sm-10 col-md-7 col-lg-5">
  <div class="message-container">
    <h1>My Messages</h1>
    <% if @chatrooms == [] %>
      <p>Woops! You haven't created any messages yet!</p>
    <% else %>
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom, anchor: "message-#{chatroom.messages.last.id}" ) do %>
          <div class="message-card">
            <%= cl_image_tag chatroom.other(current_user).photo.key, class: 'message-image' %>
            <h5><%= chatroom.other(current_user).name %></h5>
            <div class="message-info">
              <% if ( ( Time.now - chatroom.created_at ) / 60 ) < 60 %>
                <p>Just now</p>
              <% elsif ( ( Time.now - chatroom.created_at ) / 60 ) >= 60 && ( ( Time.now - chatroom.created_at ) / 60 ) < 1440 %>
                <p><%= ( ( ( Time.now - chatroom.created_at ) / 60 ) / 60 ).round() %> hours ago</p>
              <% else %>
                <p><%= ( ( ( ( Time.now - chatroom.created_at ) / 60 ) / 60 ) / 24 ).round() %> days ago</p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
