<div class= "filter-card">

  <h3> Filter results by: </h3>

    <% if params[:filters] != nil %>
      <%= simple_form_for :filters, url: events_path, defaults: { required: false }, method: :get do |f| %>
      <%= f.input :category, collection: Event::CATEGORY, as: :check_boxes, checked: params[:filters][:category], label: 'Choose Category:'%>

      <%= f.button :submit, class: "btn btn-flat" %>

    <% end %>

  <% else %>
    <%= simple_form_for :filters, url: events_path, defaults: { required: false }, method: :get do |f| %>
      <%= f.input :category, collection: Event::CATEGORY, as: :check_boxes, label: 'Choose Category:'%>


      <%= f.button :submit, class: "btn btn-flat" %>

    <% end %>
  <% end %>


</div>
