<div class="new-event-card">
  <%= simple_form_for(@event, defaults: { required: false }) do |f| %>
    <div class="inline">
      <%= f.input :name %>
      <%= f.input :capacity %>
    </div>
    <%= f.input :address, wrapper_html: { class: "input-box" } %>
    <div class="inline">
      <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"}, item_wrapper_class: 'tag-calendar' %>
      <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"}, item_wrapper_class: 'tag-calendar' %>
    </div>
    <%= f.input :description, as: :text, wrapper_html: { class: "input-box" }, placeholder: "Tell us more!" %>
    <%= f.input :photo, as: :file, wrapper_html: { class: "input-box" } %>
    <%= f.input :category, as: :check_boxes, collection: Event::CATEGORY, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item'%>
    <%= f.submit class: "btn btn-flat" %>
  <% end %>
</div>
    <%#= f.input :latitude %>
    <%#= f.input :longitude %>
