<div class="col-12 text-center py-3 px-0 mt-3">
  <h1>Upcoming Events</h1>
</div>
<div class="col-12 col-lg-4 pr-0 px-4 mt-3">
  <%= render 'shared/mapbox' %>
</div>
<div class="col-12 col-lg-8 px-0 mt-3">
  <%= render 'shared/filter-form' %>
  <div class="text-center">
    <%= pluralize @events.count, 'event' %> found
  </div>
  <div class="card-container">
    <% @events.each do |event| %>
      <%= (render "shared/card-small", event: event) if (event.capacity - event.bookings.count > 0) %>
      <%= (render "shared/card-large", event: event) if (event.capacity - event.bookings.count > 0) %>
    <% end %>
  </div>
</div>
