<%= link_to "Back", :back %>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <h1><%= @event.name %></h1>
    <h2><%= @event.category %></h2>
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
    <p><strong>Details: </strong><%= @event.description %></p>
    <p><strong>Times: </strong><%= @event.recurrence_times %></p>
    <p><strong>Frequency: </strong><%= @event.recurrence_frequency %></p>
    <p><strong>Address: </strong><%= @event.address %></p>
    <p><strong>Start: </strong><%= @event.start_time %></p>
    <p><strong>End: </strong><%= @event.end_time %></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <% if @booking.pending.nil? %>
      <%= render 'shared/form-booking', event: @event, booking: @booking %>
    <% elsif @booking.pending %>
      <h3>Your booking is pending</h3>
    <% else %>
      <%= link_to 'Unregister', event_booking_path(@event, @booking), method: :delete, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
